[submodule "react-multiples2"]
	path = react-multiples2
	url = https://github.com/Jorge989/react-multiples.git
[submodule "react-single2"]
	path = react-single2
	url = https://github.com/Jorge989/react-single.git
